@import "/app/styles/variables";

.header {
  display: flex;
  background-color: #558b6e;
  height: 60px;
  margin: 0;
  .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;
    gap: 25px;
    font-weight: bold;
    font-size: 25px;
    margin-top: 15px;
  }
  .links {
    text-decoration: none;
    color: black;
    transition: all 0.3s ease-in-out;
  }
  .logo {
    margin-left: 5px;
    height: 50px;
    margin-top: 5px;
  }
  .links:hover {
    transform: scale(1.2);
  }
  .dropdownNav {
    justify-content: flex-end;
    margin-left: auto;
    z-index: 1;
    .dropdownButton {
      background-color: inherit;
      border: none;
      margin-top: 5px;
      justify-self: flex-end;
      transition: all 0.3s ease-in-out;
    }
    .dropdownButton:hover {
      transform: scale(1.2);
    }
    .dropdownHide {
      display: none;
    }
    .dropdownShow {
      display: flex;
      flex-direction: column;
      text-align: left;
      justify-content: space-between;
      background-color: #558b6e;
      height: 100px;
      position: absolute;
      width: 150px;
      right: 0;
      padding: 6px 0;
      font-size: 18px;
      text-decoration: underline white;
    }
  }
}
