.header {
  display: flex;
  background-color: #abd1b5;
  justify-content: center;
  height: 150px;
  margin: 0;
  .title {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    margin-top: 55px;
    font-size: 30px;
  }
}
