@import "/app/styles/variables";

.header {
  display: flex;
  background-color: $headerColor;
  height: 60px;
  margin: 0;
  .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 81%;
    gap: 25px;
    font-weight: bold;
    font-size: 25px;
    margin-top: 15px;
  }
  .links {
    text-decoration: none;
    color: whitesmoke;
    transition: all 0.3s ease-in-out;
  }
  .logo {
    margin-left: 5px;
    height: 50px;
    margin-top: 5px;
  }
  .links:hover {
    transform: scale(1.2);
  }
}
