@import "/app/styles/variables";

.main {
  background-image: url("~/public/unsplash-andy-holmes.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 150vh;
  .titles {
    font-size: 40px;
    font-weight: 900;
    color: #558b6e;
  }
  .instructionsDiv {
    position: absolute;
    max-width: 80%;
    top: 18%;
    background-color: blue;
    color: white;
    border: 3px solid black;
    border-radius: 3px;
    text-align: center;
    font-weight: bold;
    padding: 20px;
    .payoutList {
      list-style: none;
      padding: 20px;
    }
  }
  .divGame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 20px;
  }
  .number {
    margin-bottom: 20px;
    font-size: 80px;
    color: whitesmoke;
  }
  .infoText {
    font-size: 40px;
    color: whitesmoke;
  }
  .button {
    background-color: blue;
    color: white;
    padding: 20px;
    margin-left: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
  }
}

#blur {
  filter: blur(8px);
  -webkit-filter: blur(8px);
  display: none;
}
