@import "/app/styles/variables";

.main {
  background-image: url("~/public/unsplash-andy-holmes.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 150vh;
  .titles {
    font-size: 70px;
    font-weight: 900;
    color: #558b6e;
  }
  .payoutList {
    list-style: none;
    padding: 20px;
  }
  .divGame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 20px;
  }
  .number {
    margin-bottom: 20px;
    font-size: 80px;
    color: whitesmoke;
  }
  .infoText {
    font-size: 40px;
    color: whitesmoke;
  }
  .button {
    background-color: blue;
    color: white;
    border: lightblue solid 3px;
    padding: 20px;
    margin-left: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    cursor: pointer;
  }
}

#blur {
  filter: blur(8px);
  -webkit-filter: blur(8px);
  display: none;
}
