@import "/app/styles/variables";

.mainContent {
  background-color: $backgroundTwo;
  margin: 0;
  display: flex;
  justify-content: center;
  .titles {
    margin-top: 15px;
  }
}

.main {
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 150vh;
  .instructionsDiv {
    position: absolute;
    max-width: 80%;
    top: 18%;
    background-color: blue;
    color: white;
    border: 3px solid black;
    border-radius: 3px;
    text-align: center;
    font-weight: bold;
    padding: 20px;
    .payoutList {
      list-style: none;
      padding: 20px;
    }
  }
  .divGame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 20px;
  }
  .number {
    margin-bottom: 20px;
  }
  .button {
    background-color: blue;
    color: white;
    padding: 20px;
    margin-left: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
  }
}

#blur {
  filter: blur(8px);
  -webkit-filter: blur(8px);
  display: none;
}
