@import "/app/styles/variables";

.mainContent {
  background-color: whitesmoke;
  margin: 0;
  .majorContent {
    display: flex;
    flex-wrap: wrap;
    flex: 50%;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 50px;
    .minorContent {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      .textContent {
        width: 320px;
        font-weight: 700;
        font-size: 16px;
      }
    }
  }
  .imageContent {
    .figcaptionContent {
      color: gray;
      max-width: 320px;
    }
  }
  .primaryTitles {
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
    font-weight: 900;
    color: #558b6e;
    text-decoration: underline;
  }
}
