@import "/app/styles/variables";

.main {
  display: flex;
  align-items: center;
  .introDiv {
    display: flex;
    align-items: center;
    .landingImage {
      margin-top: 3.7rem;
      height: 500px;
      z-index: 0;
    }
    .titles {
      font-weight: 900;
      z-index: 1;
      max-width: 400px;
      font-size: 80px;
      margin-top: 200px;
      margin-left: 100px;
    }
    .textColor {
      color: #5fc52e;
    }
  }
  .textContent {
    z-index: 1;
    font-weight: 600;
    max-width: 400px;
    margin-left: 800px;
    margin-top: 200px;
    font-size: 28px;
  }
}
