@import "/app/styles/variables";

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  background-color: $backgroundTwo;
  border: 2px solid black;
  width: 40%;
  margin-left: 30%;
  margin-top: 2%;
  .contentDiv {
    display: flex;
    padding: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    max-width: 600px;
  }
  .button {
    width: 100px;
    height: 50px;
    border: 1px solid black;
    box-shadow: 2px 2px;
    border-radius: 10px;
    background-color: $backgroundOne;
  }
  .button:hover {
    cursor: pointer;
  }
  .textContent {
    margin-bottom: 30px;
  }
}
