@import "/app/styles/variables";

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  .imageDiv {
    width: 100%;
    height: 728px;
    position: absolute;
  }
  .introDiv {
    display: flex;
    align-items: center;
    width: 100%;
    height: 45%;
    .landingImage {
      margin-top: 3.7rem;
      height: 500px;
      z-index: 0;
    }
    .titles {
      font-weight: 900;
      z-index: 1;
      max-width: 600px;
      font-size: 80px;
      margin-top: 200px;
      margin-left: 200px;
    }
    .textColor {
      color: #558b6e;
    }
  }
  .majorTextDiv {
    display: flex;
    margin-top: 50px;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 100px;
    .minorTextDiv {
      display: flex;
      flex-direction: column;
      align-items: center;
      .minorTitles {
        font-size: 40px;
        margin-bottom: 20px;
      }
      .textContent {
        width: 400px;
        font-weight: 600;
        font-size: 20px;
      }
    }
  }
  .arrowUp {
    width: 0;
    height: 0;
    position: absolute;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
    border-bottom: 75px solid whitesmoke;
    margin-top: 667px;
    margin-right: 65%;
  }
}

.mainMobile {
  display: flex;
  align-items: center;
  flex-direction: column;
  .imageDiv {
    width: 100%;
    height: 365px;
    position: absolute;
  }
  .introDiv {
    display: flex;
    align-items: center;
    width: 100%;
    height: 45%;
    .landingImage {
      margin-top: 3.7rem;
      height: 500px;
    }
    .titles {
      font-weight: 900;
      z-index: 1;
      font-size: 40px;
      margin-top: 100px;
      margin-left: 30px;
    }
    .textColor {
      color: #558b6e;
    }
  }
  .majorTextDiv {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    justify-content: space-evenly;
    z-index: 1;
    .minorTextDiv {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 40px;
      .minorTitles {
        font-size: 30px;
        margin-bottom: 20px;
      }
      .textContent {
        width: 300px;
        font-weight: 600;
        font-size: 16px;
      }
    }
  }
  .arrowUp {
    width: 0;
    height: 0;
    position: absolute;
    border-left: 45px solid transparent;
    border-right: 45px solid transparent;
    border-bottom: 45px solid whitesmoke;
    margin-top: 320px;
    margin-right: 60%;
  }
}
