@import "/app/styles/variables";

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background-color: $backgroundTwo;
  .contentDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    max-width: 600px;
  }
  .button {
    width: 100px;
    height: 50px;
    border-radius: 10px;
    margin-top: 30px;
    background-color: $backgroundOne;
  }
}
