@import "/app/styles/variables";

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  .imageDiv {
    width: 100%;
    height: 728px;
    position: absolute;
  }
  .introDiv {
    display: flex;
    align-items: center;
    width: 100%;
    .titles {
      font-weight: 900;
      z-index: 1;
      max-width: 600px;
      font-size: 80px;
      margin-top: 200px;
      margin-left: 200px;
    }
    .textColor {
      color: #558b6e;
    }
  }
  .majorTextDiv {
    display: flex;
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 100px;
    .minorTextDiv {
      display: flex;
      flex-direction: column;
      align-items: center;
      .minorTitles {
        margin-top: 10px;
        font-size: 40px;
        margin-bottom: 20px;
      }
      .textContent {
        width: 320px;
        font-weight: 600;
        font-size: 20px;
      }
    }
  }
  .arrowUp {
    width: 0;
    height: 0;
    position: absolute;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
    border-bottom: 75px solid whitesmoke;
    margin-top: 653px;
    margin-right: 68%;
  }
}
@media only screen and (max-width: 1200px) {
  .main {
    .imageDiv {
      height: 365px;
    }
    .introDiv {
      .titles {
        font-size: 40px;
        margin-top: 100px;
        margin-left: 30px;
        max-width: 400px;
      }
    }
    .arrowUp {
      border-left: 45px solid transparent;
      border-right: 45px solid transparent;
      border-bottom: 45px solid whitesmoke;
      margin-top: 320px;
      margin-right: 60%;
    }
  }
}
